<div class="workouts my-3">
  {{#each this}}
    <div class="card mb-3">
      <div class="card-body">
        <div class="text">
        {{format_date created_at}}
          <p>You have completed the following exercises:{{workouts_text}}</p>
        </div>
        <div class="meta">
          <p>Total exercise time: {{workouts_time}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>