<h1>All the exercises</h1>
<div class="row">
  {{#each this}}
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5> <!--This should display name of workout-->
          <input type="text" class="form-control" name="workout-{{id}}" placeholder="Enter your time here">
        </div>
      </div>
    </div>
  {{/each}}
</div>


