<!--Populated by js files -->
<table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Exercise</th>
                <th scope="col">Set 1</th>
                <th scope="col">Set 2</th>
                <th scope="col">Set 3</th>
                <th scope="col">Set 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">INSERT EXERCISE1</th>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
            </tr>
            <tr>
                <th scope="row">INSERT EXERCISE2</th>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
            </tr>
            <tr>
                <th scope="row">INSERT EXERCISE3</th>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
                <td class="p-2">/8</td>
            </tr>
    </tbody>
</table>






