<h1>Track your Activity</h1>
<form id="exercise_form" class="track-activity-form">
  <div class="row">
    {{#each exercises as |exercise|}}
    <div class="col-md-6 mb-3">
      <label for="exampleFormControlInput1" class="form-label">{{exercise.exercise_name}}</label>
      <input type="number" class="form-control" id="{{exercise.id}}" placeholder="Enter time you spend on this exercise in minutes">
    </div>
    {{/each}}
  </div>

  <button class="track-activity" type="submit" value="Submit">
    Submit
  </button>
</form>

<script src="./js/trackActivity.js"></script>