<section class="col-lg-10"> 
  <div class="workout-list">
  {{#if workouts.length }}
    {{#each workouts as |workout|}}
    <h2>{{format_date complete_date}}</h2>
    <p>You have completed the following exercise: {{exercise_name}}.</p>
    <p>Total exercise time: {{exercise_time}} mins</p>
    {{/each}}
  {{else}}
    <p>You haven't done any workout. Press track activity to start!</p>
  {{/if}}
</div>

<button class="track-activity" type="submit" value="Submit">
  Track activity
</button>
  </div>
</section>

<!-- Perhaps for the current = primary bg color, past = secondary bg color and future = Warning bg color-->