<section class="col-lg-10"> 
  <div class="container">
  <div class="row">
    <h2>Day 1</h2>
    <h3>{{workouts}}</h3> 
  </div>
  <div class="row">Day 2</div>
  <div class="row">Day 3</div>
  <div class="row">Day 4</div>
  <div class="row">Day 5</div>
  <div class="row">Day 6</div>
  <div class="row">Day 7</div>
  </div>
</section>