body {
    background-image: url('../img/background.jpg');
    background-size: 2000px;
}

#header{
    margin:10px;
}

.container{
    margin:10%;
}

.header-container{
    margin:10px;
}

#signup-section{
    margin-top:5%;
    text-align: center;
}

#logout{
    margin-left: 95%;
}

nav{
    background-image: url('../img/background.jpg');
    padding-bottom: 30%;
}

nav>a{
    margin-top:30%;
    color: black;
    padding: 35px 25px;
    text-decoration: none;
    /* background-image: url('../img/'); */
}

